NEXT_PUBLIC_SUPABASE_URL=https://xunkaiohgemoirtlafnz.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=

# SMTP Gmail Configuration
SMTP_HOST=in-v3.mailjet.com
SMTP_PORT=465
SMTP_USER=
SMTP_PASS=

# Google reCAPTCHA v3
NEXT_PUBLIC_RECAPTCHA_SITE_KEY=
RECAPTCHA_SECRET_KEY=